{% extends 'base.html' %}
{% block content %}


<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Обновить проект</h5>
        <form action="{% url 'project_update' project.pk %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-secondary mt-3"><i class="fa-solid fa-xmark"></i> Отмена</a>
            <button type="submit" class="btn btn-outline-primary mt-3"><i class="fa-solid fa-circle-check"></i> Изменить</button>
        </form>
    </div>
  </div>
  

{% endblock %}