{% extends 'base.html' %}
{% block content %}


<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Создать проект</h5>
        <form action="{% url 'project_create' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-outline-primary mt-3"><i class="fa-solid fa-circle-check"></i> Создать</button>
        </form>
    </div>
  </div>
  

{% endblock %}