
{% extends 'base.html' %}

{% block title %}
  <h1 class="text-center">Детали проекта: {{project}}</h1>
{% endblock %}

{% block linkBack %}
  <a class="icon-link icon-link-hover" href="{% url 'home_page' %}">
  <- Вернуться к списку проектов 
  <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
  </a>
{% endblock %}

{% block create %}
{% if perms.projects.add_project %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'project_create' %}"><i class="fa-solid fa-circle-plus"></i> Создать проект</a>
</li>
{%endif%}
{%endblock%}

{% block content %}
<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">{{project.name}}</h5>
    <p class="card-text">{{project.description|linebreaks}}</p>
    <div class="d-flex justify-content-start">
      <p class="card-text me-2">Члены проекта: </p>
      {% for user in project.users.all %}
      <p class="card-text me-2">{{user}}{% if not forloop.last %}, {% endif %}</p>
      {% endfor %}
    </div>
    <p class="card-text"><small class="text-body-secondary">{{project.created_at}}</small></p>
    {%if perms.projects.change_project%}
    <a href="{% url 'project_update' project.pk %}" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> Изменить</a>
    {%endif%}
    {%if perms.projects.delete_project%}
    <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i> Удалить</a>
    {%endif%}
    <a href="{% url 'task_list' project.pk %}" class="btn btn-outline-secondary"> Задачи</a>
    {%if request.user in project.users.all%}
    {% if perms.projects.add_user_to_project %}
    <a href="{% url 'add_user' project.pk %}" class="btn btn-outline-secondary"> Пользователи</a>
    {%endif%}
    {%else%}
    <p class="card-text text-danger">Вы не не являетесь членом проекта!</p>
    {%endif%}
  </div>
</div>
  

{% endblock %}