{% extends 'base.html' %}

{% block content %}

<form action="{% url 'register' %}?next={{request.GET.next}}" method="POST">
    <h1>Регистрация</h1>
    {%csrf_token%}
    {% include 'partials/create_update_form.html' with button_text="Регистрация" %}
</form>

{% endblock %}