<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle d-flex-d" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-user"></i> {{request.user.username}} ({{request.user.profile.position|default:"Аноним"}})</a>
    <ul class="dropdown-menu" style="right: 0; left: auto;">
    {% if not request.user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'register' %}?next={{request.get_full_path}}">Регистрация</a></li>
        <li><a class="dropdown-item" href="{% url 'login' %}?next={{request.get_full_path}}">Вход</a></li>
    {%else%}
        <li><a class="dropdown-item" href="{% url 'user_detail' %}">Кабинет</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}?next={{request.get_full_path}}">Выход</a></li>
    {%endif%}
    </ul>
</li>