{% csrf_token %}

<div class="mb-3">
    {% for error in form.non_field_errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}

    <!-- {% if form.errors %}
        {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
            <p class="text-danger">{{ error }}</p>
            {%endfor%}
        {% endfor %}
    {%endif%} -->

    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label}}</label>
            {{ field }}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<button type="submit" class="btn btn-primary mt-3 mb-3">{{ button_text }}</button>