{%if current_filter == 'increase' %}
<li class="{{list_class}} active">
<a href="{% url 'task_filter' project.pk current_status_pk 'increase' current_user_pk%}" class="card-link text-decoration-none text-black">По возрастанию даты</a>
</li>
{%else%}
<li class="{{list_class}}">
<a href="{% url 'task_filter' project.pk current_status_pk 'increase' current_user_pk%}" class="card-link text-decoration-none text-black">По возрастанию даты</a>
</li>
{%endif%}

{%if current_filter == 'decrease' %}
<li class="{{list_class}} active">
<a href="{% url 'task_filter' project.pk current_status_pk 'decrease' current_user_pk %}" class="card-link text-decoration-none text-black">По убыванию даты</a>
</li>
{%else%}
<li class="{{list_class}}">
<a href="{% url 'task_filter' project.pk current_status_pk 'decrease' current_user_pk %}" class="card-link text-decoration-none text-black">По убыванию даты</a>
</li>
{%endif%}

