{% for status in statuses %}
  {% if status.pk == current_status_pk %}
  <li class="{{list_class}} active">
    <a href="{% url 'task_filter' project.pk status.pk  current_filter current_user_pk %}" class="card-link text-decoration-none text-black">{{status.name}}</a>
    <span class="badge text-bg-primary rounded-pill">{{status.tasks}}</span>
  </li>
  {%else%}
  <li class="{{list_class}}">
    <a href="{% url 'task_filter' project.pk status.pk current_filter current_user_pk %}" class="card-link text-decoration-none text-black">{{status.name}}</a>
    <span class="badge text-bg-primary rounded-pill">{{status.tasks}}</span>
  </li>
  {%endif%}
{% endfor %}

{%if current_status_pk == 'all' %}
<li class="{{list_class}} active">
  <a href="{% url 'task_filter' project.pk 'all' current_filter current_user_pk%}" class="card-link text-decoration-none text-black">Все задачи</a>
  <span class="badge text-bg-primary rounded-pill">{{user_tasks}}</span>
</li>
{%else%}
<li class="{{list_class}}">
  <a href="{% url 'task_filter' project.pk 'all' current_filter current_user_pk%}" class="card-link text-decoration-none text-black">Все задачи</a>
  <span class="badge text-bg-primary rounded-pill">{{user_tasks}}</span>
</li>
{%endif%}