{% if task.status.name == 'В процессе' %}
<h6 class="card-subtitle mb-2"><span class="badge text-bg-info">{{task.status}}</span></h6>
{%elif task.status.name == 'Выполнено'%}
<h6 class="card-subtitle mb-2"><span class="badge text-bg-success">{{task.status}}</span></h6>
{%elif task.status.name == 'Ожидает'%}
<h6 class="card-subtitle mb-2"><span class="badge text-bg-warning">{{task.status}}</span></h6>
{%else%}
<h6 class="card-subtitle mb-2"><span class="badge text-bg-secondary">{{task.status}}</span></h6>
{%endif%}