{% if request.GET.search %}
  {% include 'partials/pagination_search.html' %}
{%else%}
  {% include 'partials/pagination.html' %}
{%endif%}

{% for task in tasks %}

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">Проект: {{task.project}}</h5>
    <h5 class="card-title">Задача: {{task.title}}</h5>
    
    {% include 'partials/task_status_color.html' %}
    <div class="d-flex justify-content-start">
      <p class="card-text me-2">Задача для: </p>
      {% for user in task.users.all %}
      <p class="card-text me-2">{{user}}{% if not forloop.last %}, {% endif %}</p>
      {% endfor %}
    </div>
    <p class="card-text"><small class="text-body-secondary">Создана: {{task.created_at}}</small></p>
    <a href="{% url 'task_detail' task.project.pk task.pk %}" class="btn btn-outline-primary"><i class="fa-regular fa-folder-open"></i> Открыть</a>
  </div>
</div>
{%empty%}
<h4 class="text-center">Нет задач</h4>  
{% endfor %}

{% if request.GET.search %}
  {% include 'partials/pagination_search.html' %}
{%else%}
  {% include 'partials/pagination.html' %}
{%endif%}