{% if not fields_only%}
    <form action="{{action_url}}" method="{{form_method}}" enctype="multipart/form-data">
    {%csrf_token%}
{%endif%}
        {% for error in form.non_field_errors %}
        <p class="text-danger">{{error}} </p>
        {%endfor%}

        {% for field in form %}
        {{field.label}}
        {{field}}
        {% for error in field.errors %}
        <p class="text-danger">{{error}} </p>
        {% endfor %}

        {%endfor%}
{% if not fields_only%}
        <button type="submit" class="btn btn-primary my-3">{{button_text|default:"Обновить"}}</button>
    </form>
{%endif%}