
{% for user in users %}
{% if user.pk == current_user_pk %}
<li class="{{list_class}} active">
    <a href="{% url 'task_filter' project.pk current_status_pk current_filter user.pk %}" class="card-link text-decoration-none text-black">{{user.username}}</a>
    <span class="badge text-bg-primary rounded-pill">{{user.tasks}}</span>
</li>
{%else%}
<li class="{{list_class}}">
    <a href="{% url 'task_filter' project.pk current_status_pk current_filter user.pk %}" class="card-link text-decoration-none text-black">{{user.username}}</a>
    <span class="badge text-bg-primary rounded-pill">{{user.tasks}}</span>
</li>
{%endif%}
{%endfor%}

{%if current_user_pk == 'all' %}
<li class="{{list_class}} active">
  <a href="{% url 'task_filter' project.pk current_status_pk current_filter 'all' %}" class="card-link text-decoration-none text-black">Все пользователи</a>
  <span class="badge text-bg-primary rounded-pill">{{total_tasks}}</span>
</li>
{%else%}
<li class="{{list_class}}">
  <a href="{% url 'task_filter' project.pk current_status_pk current_filter 'all' %}" class="card-link text-decoration-none text-black">Все пользователи</a>
  <span class="badge text-bg-primary rounded-pill">{{total_tasks}}</span>
</li>
{%endif%}