{% extends 'base.html' %}
{% load static %}
{% block title %}
<h1 class="text-center">{{ user_obj.get_full_name|default:user_obj.username }}</h1>
<div class="row mx-5">
    <div class="col-md-3">
        <div>
            {% if user_obj.profile.avatar %}
            <img src="{{user_obj.profile.avatar.url}}" style="height: 200px;" alt="">
            {%else%}
            <img src="{% static 'images/avatar.png' %}" style="height: 200px;" alt="">
            {%endif%}
        </div>
            <a href="{% url 'user_edit' %}"class="btn btn-secondary ms-4 mt-3">Изменить профиль</a>
    </div> 
    <div class="col-md-6 ms-3">
        <p>Логин: {{user_obj.username}}</p>
        <p>Имя: {{user_obj.first_name}}</p>
        <p>Фамилия: {{user_obj.last_name}}</p>
        <p>Должность: {{user_obj.profile.position}}</p>
        <p>Email: {{user_obj.email}}</p>
        <p>Телефон: {{user_obj.profile.phone}}</p>
        <a href="{% url 'password_change' %}"class="btn btn-secondary">Сменить пароль</a>
    </div>
</div>

{% endblock %}

{% block content %}
<h2 class="text-center">Задачи пользователя {{ user_obj.get_full_name|default:user_obj.username }}:</h2>
{% include 'partials/task_list_part.html' %}
{% endblock %}

