{% extends 'base.html' %}
{%block title%}
<h1 class="text-center">Изменение профайла</h1>
{%endblock%}

{%block content%}
<form action="{% url 'user_edit' %}" method="POST" enctype="multipart/form-data">
{%csrf_token%}
{% include 'partials/user_forms.html' with form=form fields_only=True %}
{% include 'partials/user_forms.html' with form=profile_form fields_only=True %}
<button type="submit" class="btn btn-primary my-3">Обновить</button>
</form>
{%endblock%}