{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>To Do list</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home_page' %}">To Do List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block create %}
          {%endblock%}
          {% block filters_dropdown %}
          {%endblock%}
        </ul>
        <ul class="navbar-nav me-0 mb-2 mb-lg-0">
          {% block search %}
          {%endblock%}
          {% include 'partials/authentication_menu.html' %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="mx-3">
    {% block linkBack %}
    {% endblock %}
  </div>
  <div class="mb-3">
    {% block title %}
    {% endblock %}
  </div>
  <div class="row mx-3">
    <div class="col-md-3 d-none d-md-block">
      {% block filter %}
      {% endblock %}
    </div>
    <div class="col-md-6">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-md-3 d-none d-md-block">
      {% block usersblock %}
      {% endblock %}
    </div>
  </div>

  <footer class="bg-black">
    <section class="footer">
      <div class="container d-flex justify-content-center">
        <div>
            <h4 class="text-white">Мы в сети</h4>
            <div class="footer-icons d-flex justify-content-center mb-2">
              <a class="me-2 text-white" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="me-2 text-white" href=""><i class="fab fa-youtube"></i></a>
              <a class="me-2 text-white" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/c96917ab2e.js" crossorigin="anonymous"></script>
  {% block script%}
  {% endblock %}
</body>
</html>