
{% extends 'base.html' %}

{% block title %}
  <h1 class="text-center">Список проектов:</h1>
{% endblock %}

{% block create %}
{% if perms.projects.add_project %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'project_create' %}"><i class="fa-solid fa-circle-plus"></i> Создать проект</a>
</li>
{%endif%}
{%endblock%}

{% block content %}

{% if request.GET.search %}
  {% include 'partials/pagination_search.html' %}
{%else%}
  {% include 'partials/pagination.html' %}
{%endif%}

{% for project in projects %}

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">{{project.name}}</h5>

    <div class="d-flex justify-content-start">
      <p class="card-text me-2">Члены проекта: </p>
      {% for user in project.users.all %}
      <p class="card-text me-2">{{user}}{% if not forloop.last %}, {% endif %}</p>
      {% endfor %}
    </div>
    <p class="card-text"><small class="text-body-secondary">{{project.created_at}}</small></p>
    <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-primary"><i class="fa-regular fa-folder-open"></i> Открыть</a>
  </div>
</div>

{% endfor %}

{% if request.GET.search %}
  {% include 'partials/pagination_search.html' %}
{%else%}
  {% include 'partials/pagination.html' %}
{%endif%}

{% endblock %}
 