
{% extends 'base.html' %}

{% block create %}
{% if perms.todo.add_task %}
{% if user in project.users.all %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'task_create' task.project.pk %}"><i class="fa-solid fa-circle-plus"></i> Создать задачу</a>
</li>
{%endif%}
{%endif%}
{%endblock%}

{% block linkBack %}
  <a class="icon-link icon-link-hover" href="{% url 'task_list' task.project.pk %}">
  <- Вернуться к списку задач
  <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
  </a>
{% endblock %}

{% block title %}
  <h1 class="text-center">Задача по проекту "{{task.project}}"</h1>
{% endblock %}

{% block content %}
<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    {% include 'partials/task_status_color.html' %}
    <p class="card-text">{{task.description|linebreaks}}</p>
    <div class="d-flex justify-content-start">
      <p class="card-text me-2">Задача для: </p>
      {% for user in task.users.all %}
      <p class="card-text me-2">{{user}}{% if not forloop.last %}, {% endif %}</p>
      {% endfor %}
    </div>
    <p class="card-text"><small class="text-body-secondary">{{task.created_at}}</small></p>
    {% if user in task.users.all %}
    {% if perms.todo.change_task %}
    <a href="{% url 'task_update' task.project.pk task.pk %}" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> Изменить</a>
    {%endif%}
    {% if perms.todo.delete_task %}
    <a href="{% url 'task_delete' task.project.pk task.pk %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i> Удалить</a>
    {%endif%}
    {%else%}
    <p class="card-text text-danger">Вы не не являетесь ответственным за эту задачу!</p>
    {%endif%}
  </div>
</div>
  

{% endblock %}