
{% extends 'base.html' %}
{% load static %}

{% block create %}
{% if perms.todo.add_task %}
{% if user in project.users.all %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'task_create' project.pk %}"><i class="fa-solid fa-circle-plus"></i> Создать задачу</a>
</li>
{%endif%}
{%endif%}
{%endblock%}

{% block filters_dropdown %}
  <li class="nav-item dropdown d-block d-md-none ">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Статус
    </a>
    <ul class="dropdown-menu">
      {% include 'partials/status_filter.html' with list_class="dropdown-item" %}
    </ul>
  </li>
  <li class="nav-item dropdown d-block d-md-none ">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Дата
    </a>
    <ul class="dropdown-menu">
      {% include 'partials/date_filter.html' with list_class="dropdown-item" %}
    </ul>
  </li>
{%endblock%}

{% block search %}
<li>
  <form class="d-flex" role="search" method="GET">
    <input class="form-control me-2" type="search" name="search" placeholder="Поиск" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Поиск</button>
  </form>
</li>
{%endblock%}

{% block linkBack %}
  <a class="icon-link icon-link-hover" href="{% url 'project_detail' project.pk %}">
  <- Вернуться к деталям проекта
  <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
  </a>
{% endblock %}

{% block title %}
  <h1 class="text-center">Задачи по проекту "{{project}}"</h1>
{% endblock %}

{% block filter %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Статус</h5>
    <ul class="list-group">
      {% include 'partials/status_filter.html' with list_class="list-group-item" %}
    </ul>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Дата</h5>
    <ul class="list-group">
      {% include 'partials/date_filter.html' with list_class="list-group-item"  %}
    </ul>
  </div>
</div>
{% endblock %}

{% block usersblock %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Команда проекта</h5>
    <ul class="list-group">
      {% include 'partials/user_filter.html' with list_class="list-group-item"  %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}

{% if request.GET.search %}
  {% include 'partials/pagination_search.html' %}
{%else%}
  {% include 'partials/pagination.html' %}
{%endif%}

{% for task in tasks %}

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    {% include 'partials/task_status_color.html' %}
    <div class="d-flex justify-content-start">
      <p class="card-text me-2">Задача для: </p>
      {% for user in task.users.all %}
      <p class="card-text me-2">{{user}}{% if not forloop.last %}, {% endif %}</p>
      {% endfor %}
    </div>
    <p class="card-text"><small class="text-body-secondary">{{task.created_at}}</small></p>
    <a href="{% url 'task_detail' task.project.pk task.pk %}" class="btn btn-outline-primary"><i class="fa-regular fa-folder-open"></i> Открыть</a>
  </div>
</div>
{%empty%}
<h4 class="text-center">Нет задач</h4>  
{% endfor %}

{% if request.GET.search %}
  {% include 'partials/pagination_search.html' %}
{%else%}
  {% include 'partials/pagination.html' %}
{%endif%}

{% endblock %}
{% block script%}
<script src="{% static 'task_list.js' %}"></script>
{% endblock %}