{% extends 'base.html' %}
{% block content %}


<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Вы уверены что хотите удалить задачу "{{task}}"</h5>
        <form action="{% url 'task_delete' task.project.pk task.pk %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'task_detail' task.project.pk task.pk %}" class="btn btn-outline-secondary mt-3"><i class="fa-solid fa-xmark"></i> Отмена</a>
            <button type="submit" class="btn btn-outline-primary mt-3"><i class="fa-solid fa-circle-check"></i> Удалить</button>
        </form>
    </div>
  </div>
  

{% endblock %}